
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
   max-width: 1600px;
   margin: 0;
   padding: 0; 
}
/* shared-style */
:root{
    --primary color: #412567;
    --secendary color: #1A0B2E;
    --thard color: #230E3D;
}


/* main-style */

/* header-style */
.header{
    background-color: #412567;
}
.nav-contener{
    display: flex;
    margin: 0 200px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav-logo{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.wave{
    background:linear-gradient(45deg,#F7E93F, #FB09B4,#9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-item{
    display: flex;
    gap: 60px;
    list-style-type: none;
    cursor: pointer;
    color: white;
}
.btn{
    background: linear-gradient(20deg,#F7E93F,#FB09B4,#9100F8);
    border: 0;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
 color: black;
}

/* hero-style */
.hero-contener{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    height: 760px;
    background-position: center;
}
.hero{
    position: relative;
    width: 300px;
    justify-content: center;
    align-items: center;
    display: inline;

}
.over-image{
    position: absolute;
    height: 200px;
    width: 200px;
    margin: 130px 625px 300px;

}
.back-image{
    display: block;
    width: 300px;
    height: 300px;
    margin: 130px 625px 300px;
    position: absolute;
}
.hero-tital{
    font-size: 3.75;
    font-weight: 700;
    color: white;
    text-align: center;
}
.hero-p{
    color: white;
    text-align: center;
}
.btn{
    text-align: center;
}


/*about-style */

.about-pod{
    background-color: #1A0B2E;
    text-align: center;
    padding: 50px 200px 120px;
}
.about-tital{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}
.about-p{
    color: white;
    font-size: .8rem;
    font-weight: 400;
    padding: 5px 60px;
    line-height: 20px;
}
.about-bar{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 80px;
}
.line{
    border: 0;
    background-color: white;
    height: .2px;
    width: 1100px;
    margin: 80px auto;
}
.bar-tital{
    font-size: 3rem;
    font-weight: 700;
    color: #00FF88;
}
.bar-p{
    font-weight: normal;
    font-size: 1rem;
}


/* phone-leout */
@media screen and (max-width:576px){
    
    .nav-contener{
    margin:0px 20px ;
    justify-content: center;
}
.nav-logo{
    margin-left: 20px;
    }
.wave,.nav-item,.btn{
    display: none;
}


}