*{
   margin: 0;
   padding: 0; 
}
/* font-family */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.bg-img{
    display: none;
}
/* main-style */

/* header-style */
.header{
    background-color: #412567;
}
.nav-contener{
    display: flex;
    margin: 0 200px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav-logo{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.wave{
    background:linear-gradient(45deg,#F7E93F, #FB09B4,#9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-item{
    display: flex;
    gap: 60px;
    list-style-type: none;
    cursor: pointer;
    color: white;
}
.btn{
    background: linear-gradient(20deg,#F7E93F,#FB09B4,#9100F8);
    border: 0;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
 color: rgb(79, 73, 73);
}
.nav-img{
    display: none;
}

/* hero-style */
.hero-contener{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    height: 760px;
    background-position: center;
    text-align: center;
}
.hero-img{
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline;

}
.over-image{
    position: absolute;
    left: 115px;
    top: -250px;
}
.back-image{
    margin-top: 100px;
}
.badge {
  position: absolute;
  top: -320px;
  right: 50px;
  background-color: #00f38c;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 243, 140, 0.5);
  animation: neon-glow 1.5s infinite alternate;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
@keyframes neon-glow {
  from {
    box-shadow:
     0 0 5px #00f38c, 
     0 0 10px #00f38c;
    transform: scale(1); 
  }
  to {
    box-shadow: 
    0 0 10px #00f38c,  
    0 0 20px #00f38c, 
    0 0 30px #00f38c;
    transform: scale(1.05);
  }
}
.hero-tital{
    font-size: 3.75rem;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.hero-p{
    font-size: .7rem;

    font-weight: 300;
    color: white;
    text-align: center;
}
.hero-btn{
    margin-left: 10px;
    background: linear-gradient(20deg,#F7E93F,#FB09B4,#9100F8);
    border: 0;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .3s;
    margin-top: 20px;
}
.hero-btn img{
    margin-right: 8px;
    width: 17px;
}
.btn-sub{
    margin-left: 5px;
    border: 1px solid #00FF88;
    border-radius: 30px;
    padding: 12px 20px;
    background-color: transparent;
    color: #00FF88;
    font-weight: 700;
}
.btn-sub:hover{
    cursor: pointer;
    background-color: #0a8fa0;
    color: white;
    transition: .3s;

}
.btn-sub-img{
    margin-right: 8px;
    width: 15px;
}

/*about-style */

.about-pod{
    background-color: #1A0B2E;
    text-align: center;
    padding: 0px 200px 100px;
}
.about-tital{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}
.about-p{
    color: white;
    font-size: .8rem;
    font-weight: 400;
    padding: 5px 60px;
    line-height: 20px;
}
.about-bar{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 80px;
}
.line{
    border: 0;
    background-color: rgba(255, 255, 255, 0.056);
    height: .2px;
    width: 1100px;
    margin: 80px auto;
}
.bar-tital{
    font-size: 3rem;
    font-weight: 700;
    color: #00FF88;
}
.bar-p{
    font-weight: normal;
    font-size: 1rem;
}
/* chosse-card-style */
.choose-content{
    background-color: #230E3D;
}
.chosse-card {
  max-width: 1100px;
  margin: 0 auto;
  padding: 70px 200px;
  background-color: #230E3D;
}
.choose-box-tital{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #35116559;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0);
}

.card h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 600;
  margin-top: 10px;
}
.card p{
    color: white;
    font-weight: 200;
    font-size: .8rem;
    line-height: 20px;
}
.card-1{
    grid-row: span 2;
    align-content: center;
    padding: 0px 40px;
}
.card-2{
    grid-column: span 2;
    padding: 40px;
}
.card-3{
    grid-column: span 2;
    padding: 40px;
}
.card-4{
    grid-column: span 2;
    padding: 40px;
}
.card-5{
    grid-row: span 1;
    padding: 40px;
}

/* futured-box */
.futured-content{
  /* max-width: 1600px; */
  padding: 80px 200px;
  justify-content: center;
  align-items: center;
  background-color: #1A0B2E;
}
.futured-tital{
    font-size: 3rem;
    color: white;
  margin-bottom: 20px;
  text-align: center;
}
.futured-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.futured-box-1{
    width: 350px;
    height: 330px;
    border-radius: 15px;
    background-color: #250D44;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0);

}
.futured-box-tital{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-top: 20px;
}
.futured-box-p{
    font-size: .7rem;
    font-weight: 400;
    line-height: 15px;
    color: white;
    margin-top: 12px;
}
.time{
    color: #00FF88;
    font-weight: 500;
    margin-left: 5px;
    text-align: center;
}
.time-contener{
    margin-top: 12px;
}

.host-content{
    max-width: 1600px;
    margin: 100px ;
}
.host-tital{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}
/* host-content */
.host-content{
    max-width: 1600px;
    text-align: center;
}
.box-content{
    display: flex;
    gap: 25px;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    background-color: #250D44;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0);
    border-radius: 30px;
    padding: 40px;
    text-align: left;
    margin-top: 20px;
}
.box-text-tital{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.box-text-p{
    color: white;
    font-size: .7rem;
    font-weight: 200;
    margin-bottom: 10px;
}
.host-icon{
    border: 2px solid #533C72;
    border-radius: 50%;
    padding: 5px;
}
/* footer */
.footer-content{
    background-image: url(./assets/footer-bg.png);
    /* width: 100%; */
    /* height: 100%; */
    text-align: center;
    padding: 50px;
}
#footer-logo{
    font-size: 4rem;
}
.footer-link{
    display: flex;
    margin: 15px ;
    text-align: center;
    justify-content: center;
}
.footer-p{
    margin-left: 10px;
    margin-right: 20px;
    color: white;
}
.copy-right{
    color: white;
    font-size: .7;
    font-weight: 200;
}

/* phone-leout */
     @media screen and (max-width:567px){
    
      /* nav-style */
     .nav-contener{
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    margin-left: -180px;
}
    .nav-item{
    display: none;
}
.btn{
    display: none;
}
.nav-img{
    display: flex;
    margin-left: 300px;
}
/* hero-style */
.hero-contener{
    height: 100%;
    width: 100%;
    text-align: center;
    
}
/* about-stely */
.about-pod{
    text-align: center;
    padding: 40px;

}
.about-tital{
    padding-top: 10px;
    font-size: 2.8rem;
    font-weight: 500;
}
.line{
    width: 450px;
    margin: 20px auto;
}
.about-p{
    font-size: .6rem;
    font-weight: 300;
}
.about-bar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* choose-card-style */
.chosse-card {
  padding: 0;
}
.choose-box-tital{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 50px;
}
.grid {
    padding: 0px 30px 30px 30px ;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.card-1, .card-2, .card-3, .card-4, .card-5{
    grid-column: span 1;
    align-content: center;
    padding: 40px;
}
/* future-style */
.futured-content{
  padding: 30px;
}
.futured-box{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   margin-left: 50px;
}
.host-content{
    margin: 0 ;
    /* display:inline; */
}
.host-tital{
    padding-top: 40px;
}
.box-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 40px;
    text-align: center;
}
.footer-content{
    background-image: url(./assets/footer-bg.png);
    /* width: 100%; */
    /* height: 100%; */
    text-align: center;
    padding: 20px 0;
}
#footer-logo{
    margin-left: 20px;
}
.footer-link{
    display: flex;
  margin: 15px ;
    line-break: 2;
}
}

 