
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

 *{
   margin: 0;
   padding: 0; 
}
/* shared-style */
:root{
    --primary color: #412567;
    --secendary color: #1A0B2E;
    --thard color: #230E3D;
}


/* main-style */

/* header-style */
.header{
    background-color: #412567;
}
.nav-contener{
    display: flex;
    margin: 0 200px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav-logo{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.wave{
    background:linear-gradient(45deg,#F7E93F, #FB09B4,#9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-item{
    display: flex;
    gap: 60px;
    list-style-type: none;
    cursor: pointer;
    color: white;
}
.btn{
    background: linear-gradient(20deg,#F7E93F,#FB09B4,#9100F8);
    border: 0;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
 color: black;
}

/* hero-style */
.hero-contener{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    height: 760px;
    background-position: center;
}
.hero{
    position: relative;
    width: 300px;
    justify-content: center;
    align-items: center;
    display: inline;

}
.over-image{
    position: absolute;
    height: 200px;
    width: 200px;
    margin: 130px 625px 300px;

}
.back-image{
    display: block;
    width: 300px;
    height: 300px;
    margin: 130px 625px 300px;
    position: absolute;
}
.hero-tital{
    font-size: 3.75;
    font-weight: 700;
    color: white;
    text-align: center;
}
.hero-p{
    color: white;
    text-align: center;
}
.btn{
    text-align: center;
}


/*about-style */

.about-pod{
    background-color: #1A0B2E;
    text-align: center;
    padding: 50px 200px 120px;
}
.about-tital{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}
.about-p{
    color: white;
    font-size: .8rem;
    font-weight: 400;
    padding: 5px 60px;
    line-height: 20px;
}
.about-bar{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 80px;
}
.line{
    border: 0;
    background-color: white;
    height: .2px;
    width: 1100px;
    margin: 80px auto;
}
.bar-tital{
    font-size: 3rem;
    font-weight: 700;
    color: #00FF88;
}
.bar-p{
    font-weight: normal;
    font-size: 1rem;
}
/* box-style */
.choose-content{
    background-color: #230E3D;
}
/* .choose-box{
    /* padding: 120px 120px; */
    text-align: center;
} */
.choose-box-tital{
    color: white;
    font-weight: 600;
    font-size: 3rem;
}
/* .box-content{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "box-1 box-2 box-3"
    "box-1 box-4 box-4"
    "box-2 box-2 box-5"
    ;
} */
 .box-tital{
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}
.box-p{
    color: white;
    font-size: .7rem;
    font-weight: 100;
}
.box-1{
    grid-area:box-1;
    border-radius: 10px;
    background-color: #35116559;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0);
}

.box-2{
    grid-area:box-2;
    border-radius: 10px;
    background-color: #35116559;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0);
}
.box-3{
    grid-area:box-3;
    border-radius: 10px;
    background-color: #35116559;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0);
}
.box-4{
    grid-area:box-4;
    border-radius: 10px;
    background-color: #35116559;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0);
}
.box-5{
    grid-area:box-5;
    border-radius: 10px;
    background-color: #35116559;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0);
}
/* futured-box */
.futured-content{
  max-width: 1600px;
  padding: 80px 200px;
  justify-content: center;
  align-items: center;
  background-color: #1A0B2E;
}
.futured-tital{
    font-size: 3rem;
    color: white;
  margin-bottom: 20px;
  text-align: center;
}
.futured-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1600px;
}

.futured-box-1{
    width: 350px;
    height: 330px;
    border-radius: 15px;
    background-color: #250D44;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0);

}
.futured-box-tital{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-top: 20px;
}
.futured-box-p{
    font-size: .7rem;
    font-weight: 400;
    line-height: 15px;
    color: white;
    margin-top: 12px;
}
.time{
    color: #00FF88;
    font-weight: 500;
    margin-left: 5px;
    text-align: center;
}
.time-contener{
    margin-top: 12px;
}

.host-content{
    max-width: 1600px;
    margin: 100px ;
}
.host-tital{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}
/* host-content */
.host-content{
    max-width: 1600px;
    text-align: center;
}
.box-content{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: #250D44;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0);
    border-radius: 30px;
    padding: 40px;
    text-align: left;
    margin-top: 20px;
}
.box-text-tital{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.box-text-p{
    color: white;
    font-size: .7rem;
    font-weight: 200;
    margin-bottom: 10px;
}
.host-icon{
    border: 2px solid #533C72;
    border-radius: 50%;
    padding: 5px;
}
/* footer */
.footer-content{
    background-image: url(./assets/footer-bg.png);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px;
}
#footer-logo{
    font-size: 4rem;
}
.footer-link{
    display: flex;
    margin: 15px ;
    text-align: center;
    justify-content: center;
}
.footer-p{
    margin-left: 10px;
    margin-right: 20px;
    color: white;
}
.copy-right{
    color: white;
    font-size: .7;
    font-weight: 200;
}

/* phone-leout */
@media screen and (max-width:576px){
    
    .nav-contener{
    margin:0px 20px ;
    justify-content: center;
}
.nav-logo{
    margin-left: 20px;
    }
.wave,.nav-item,.btn{
    display: none;
}


}